export(cp.to.dp, dmsn, dmst, dp.to.cp, dsn, dst,
  dsn2.plot, dst, dst2.plot, gamma1.to.lambda,
  msn.affine, msn.conditional, msn.cond.plot,
  msn.fit, msn.marginal,  msn.mle, msn.moment.fit, 
  msn.quantities, mst.affine,  mst.fit, mst.mle,
  pmsn, pmst, psn, pst, qsn, qst, 
  rmsn, rmst, rsn, rst, sample.centralmoments, 
  sn.2logL.profile, sn.cumulants, sn.Einfo, sn.em,  
  sn.mle, sn.mle.grouped, sn.mmle, 
  st.2logL.profile, st.cumulants, st.cumulants.inversion,
  st.mle, st.mle.grouped, st.mmle, T.Owen, zeta
)